/* Navbar styles */

.navbar {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  width: 100%;
}

.navbar .logo {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo img {
  width: 150px;
  height: 40px;
  padding: 0 10px;
}

.navbar a {
  color: #1e2132;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  line-height: 72px;
}

.navbar button {
  color: #1e2132;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  line-height: 72px;
}

.navbar .active {
  color: #1464f4;
}

.navbar a:hover {
}

.navbar a:hover span {
  background: #f2f4f5;
}

.navbar span {
  padding: 10px;
  border-radius: 4px;
}

.navbar span :hover {
  background: rgb(244, 20, 225);
}

.navbar .login-button span {
  color: #1e2132;
}

.navbar .login-button:hover span {
  color: #1464f4;
  background: none;
  transition: color 0.3s;
}

.navbar .register-button span {
  color: white;
  background: #1464f4;
  border: solid 1px #1464f4;
  padding: 8px 20px;
  border-radius: 0;
}

.navbar .register-button:hover span {
  background: #1e42dd;
  border-color: #1e42dd;
}

/* Responsive styles */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 0;
    display: block;
    padding: 10px;
  }
}

.search-bar {
  width: 0;
}

.search-bar:focus {
  width: 250px;
  cursor: text;
  padding-left: 4rem;
  padding-right: 1rem;
  transition: ease-in-out 0.5s;
}

.search-separator {
  width: 1px;
  height: 24px;
  max-height: 24px;
  display: inline-block;
  margin: 0 8px;
  opacity: 0.2;
  vertical-align: middle;
  background: black;
  align-items: center;

  text-align: center;
}

.dropdown-menu {
  position: absolute;
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown-menu a{
line-height: 34px;
margin: 4px 8px;
border-radius: 4px;
}
