/* Navbar styles */

.navbar {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo img {
  width: 150px;
  height: 40px;
  padding: 0 10px;
}

.navbar a {
  color: #1e2132;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  line-height: 72px;
}

.navbar .active {
  color: #1464f4;
}

.navbar a:hover {
}

.navbar a:hover span {
  background: #F2F4F5;
}

.navbar span {
  padding: 10px;
  border-radius: 4px;
}

.navbar span :hover {
  background: rgb(244, 20, 225);
}

.navbar .login-button span{
  color: #1464f4;
}

.navbar .register-button span {
  color: white;
  background: #1464f4;
  border: solid 1px #1464f4;
  padding: 8px 20px;
}

.navbar .register-button:hover span {
  background: #1e42dd;
  border-color: #1e42dd;
  transition: color 2s ease-in-out;
}

/* Responsive styles */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 0;
    display: block;
    padding: 10px;
  }
}
